/*
---------------------------------- Blend Mode
*/

.blend-darken {
    mix-blend-mode: darken;
}
.blend-difference {
    mix-blend-mode: difference;
}
.blend-multiply {
    mix-blend-mode: multiply;
    
}
.blend-overlay {
    mix-blend-mode: overlay;
}
.blend-hard-light {
    mix-blend-mode: hard-light;
}
.blend-hue {
    mix-blend-mode: hue;
}
.blend-screen {
    mix-blend-mode: screen;
}