// clearfix
// Mixin itself
@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
    height: 0;
    flex-basis: 0;
  }
}

// Usage as a mixin
.clearfix {
  @include clearfix;
}