.hr-1 {
    width: 70%;
    border: 0;
    height: 2px;
    margin-top: -2px;
    position: relative;
    @include gradient-1;
}

// .hr-2 {
//     width: 70%;
//     border: 0;
//     height: 2px;
//     margin-top: -2px;
//     position: relative;
//     float:right;
//     @include gradient-1;
// }