
/* 
-------------------------------------------
margin
-------------------------------------------
*/
$marginCounter : 10;
$px : 0px;
$p : 0%;


.m-0 { margin:0; }
.mt-0 { margin-top:0; }
.mr-0 { margin-right:0; }
.mb-0 { margin-bottom:0; }
.ml-0 { margin-left:0; }
.mx-0 { margin-left:0;  margin-right:0; }
.my-0 { margin-top:0;  margin-bottom:0; }

.m-a { margin:auto; }
.mt-a { margin-top:auto; }
.mr-a { margin-right:auto; }
.mb-a { margin-bottom:auto; }
.ml-a { margin-left:auto; }
.mx-a { margin-left:auto;  margin-right:auto; }
.my-a { margin-top:auto;  margin-bottom:auto; }

// margin from 1 - 10 (1*10), 10 - 50 (5*10) , 60 - 100 (6*10)

/*
Margin Classes

------------------------------------


---------------- 1 - 10 (x1)
.m-1 
.m-2 
.m-3 
.m-4 
.m-5 
.m-6 
.m-7 
.m-8 
.m-9 
.m-10
---------------- 15 - 50 (x5)
.m-15
.m-20
.m-25
.m-30
.m-35
.m-40
.m-45
.m-50
---------------- 60 - 100 (x10)
.m-60
.m-70
.m-80
.m-90
.m-100

*/

// margin
@for $i from 1 through $marginCounter {.m-#{$i} { margin:( $i + $px); }}
@for $i from 3 through $marginCounter {.m-#{$i*5} { margin:( $i*5 + $px); }}
@for $i from 6 through $marginCounter {.m-#{$i*10} { margin:( $i*10 + $px); }}
@for $i from 2 through 5 {.m-#{$i*100} { margin:( $i*100 + $px); }}
// margin Top
@for $i from 1 through $marginCounter {.mt-#{$i} { margin-top:( $i + $px); }}
@for $i from 3 through $marginCounter {.mt-#{$i*5} { margin-top:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.mt-#{$i*10} { margin-top:( 10 * $i + $px); }}
@for $i from 2 through 5 {.mt-#{$i*100} { margin-top:( 100 * $i + $px); }}

// //  margin Right
@for $i from 1 through $marginCounter {.mr-#{$i} { margin-right:( $i + $px); }}
@for $i from 3 through $marginCounter {.mr-#{$i*5} { margin-right:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.mr-#{$i*10} { margin-right:( 10 * $i + $px); }}
@for $i from 2 through 5 {.mr-#{$i*100} { margin-right:( 100 * $i + $px); }}

// //  margin Bottom
@for $i from 1 through $marginCounter {.mb-#{$i} { margin-bottom:( $i + $px); }}
@for $i from 3 through $marginCounter {.mb-#{$i*5} { margin-bottom:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.mb-#{$i*10} { margin-bottom:( 10 * $i + $px); }}
@for $i from 2 through 5              {.mb-#{$i*100} { margin-bottom:( 100 * $i + $px); }}

// //  margin Left
@for $i from 1 through $marginCounter {.ml-#{$i} { margin-left:( $i + $px); }}
@for $i from 3 through $marginCounter {.ml-#{$i*5} { margin-left:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.ml-#{$i*10} { margin-left:( 10 * $i + $px); }}
@for $i from 2 through 5 {.ml-#{$i*100} { margin-left:( 100 * $i + $px); }}


// //  margin X-axis
@for $i from 1 through $marginCounter {.mx-#{$i} { margin-left:( $i + $px); margin-right:( $i + $px); }}
@for $i from 3 through $marginCounter {.mx-#{$i*5} { margin-left:( 5 * $i + $px); margin-right:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.mx-#{$i*10} { margin-left:( 10 * $i + $px); margin-right:( 10 * $i + $px);}}
@for $i from 2 through 5 {.mx-#{$i*100} { margin-left:( 100 * $i + $px); margin-right:( 100 * $i + $px);}}


// //  margin Y-axis
@for $i from 1 through $marginCounter {.my-#{$i} { margin-top:( $i + $px); margin-bottom:( $i + $px); }}
@for $i from 3 through $marginCounter {.my-#{$i*5} { margin-top:( 5 * $i + $px); margin-bottom:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.my-#{$i*10} { margin-top:( 10 * $i + $px); margin-bottom:( 10 * $i + $px);}}
@for $i from 2 through 5 {.my-#{$i*100} { margin-top:( 100 * $i + $px); margin-bottom:( 100 * $i + $px);}}




//------------- Negative Margins
@for $i from 1 through $marginCounter {.mt-minus-#{$i} { margin-top:( -$i + $px); }}
@for $i from 3 through $marginCounter {.mt-minus-#{$i*5} { margin-top:( -5 * $i + $px); }}
@for $i from 6 through $marginCounter {.mt-minus-#{$i*10} { margin-top:( -10 * $i + $px); }}
@for $i from 2 through 5 {.mt-minus-#{$i*100} { margin-top:( -100 * $i + $px); }}
// //  margin Right
@for $i from 1 through $marginCounter {.mr-minus-#{$i} { margin-right:( -$i + $px); }}
@for $i from 3 through $marginCounter {.mr-minus-#{$i*5} { margin-right:( -5 * $i + $px); }}
@for $i from 6 through $marginCounter {.mr-minus-#{$i*10} { margin-right:( -10 * $i + $px); }}
@for $i from 2 through 5 {.mr-minus-#{$i*100} { margin-right:( -100 * $i + $px); }}
// //  margin Bottom
@for $i from 1 through $marginCounter {.mb-minus-#{$i} { margin-bottom:( -$i + $px); }}
@for $i from 3 through $marginCounter {.mb-minus-#{$i*5} { margin-bottom:( -5 * $i + $px); }}
@for $i from 6 through $marginCounter {.mb-minus-#{$i*10} { margin-bottom:( -10 * $i + $px); }}
@for $i from 2 through 5 {.mb-minus-#{$i*100} { margin-bottom:( -100 * $i + $px); }}
// //  margin Left
@for $i from 1 through $marginCounter {.ml-minus-#{$i} { margin-left:( -$i + $px); }}
@for $i from 3 through $marginCounter {.ml-minus-#{$i*5} { margin-left:( -5 * $i + $px); }}
@for $i from 6 through $marginCounter {.ml-minus-#{$i*10} { margin-left:( -10 * $i + $px); }}
@for $i from 2 through 5 {.ml-minus-#{$i*100} { margin-left:( -100 * $i + $px); }}


//------------- Negative Margins

// //  margin Top
@for $i from 1 through $marginCounter {.mt-minus-#{$i+p} { margin-top:( -$i + $p); }}
@for $i from 3 through $marginCounter {.mt-minus-#{$i*5+p} { margin-top:( -5 * $i + $p); }}
@for $i from 6 through $marginCounter {.mt-minus-#{$i*10+p} { margin-top:( -10 * $i + $p); }}
// //  margin Right
@for $i from 1 through $marginCounter {.mr-minus-#{$i+p} { margin-right:( -$i + $p); }}
@for $i from 3 through $marginCounter {.mr-minus-#{$i*5+p} { margin-right:( -5 * $i + $p); }}
@for $i from 6 through $marginCounter {.mr-minus-#{$i*10+p} { margin-right:( -10 * $i + $p); }}
// //  margin Bottom
@for $i from 1 through $marginCounter {.mb-minus-#{$i+p} { margin-bottom:( -$i + $p); }}
@for $i from 3 through $marginCounter {.mb-minus-#{$i*5+p} { margin-bottom:( -5 * $i + $p); }}
@for $i from 6 through $marginCounter {.mb-minus-#{$i*10+p} { margin-bottom:( -10 * $i + $p); }}
// //  margin Left
@for $i from 1 through $marginCounter {.ml-minus-#{$i+p} { margin-left:( -$i + $p); }}
@for $i from 3 through $marginCounter {.ml-minus-#{$i*5+p} { margin-left:( -5 * $i + $p); }}
@for $i from 6 through $marginCounter {.ml-minus-#{$i*10+p} { margin-left:( -10 * $i + $p); }}


//------------- Margins %
@for $i from 1 through $marginCounter {.mt-#{$i+p} { margin-top:( $i + $p); }}
@for $i from 3 through $marginCounter {.mt-#{$i*5+p} { margin-top:( 5 * $i + $p); }}
@for $i from 6 through $marginCounter {.mt-#{$i*10+p} { margin-top:( 10 * $i + $p); }}
// //  margin Right
@for $i from 1 through $marginCounter {.mr-#{$i+p} { margin-right:( $i + $p); }}
@for $i from 3 through $marginCounter {.mr-#{$i*5+p} { margin-right:( 5 * $i + $p); }}
@for $i from 6 through $marginCounter {.mr-#{$i*10+p} { margin-right:( 10 * $i + $p); }}
// //  margin Bottom
@for $i from 1 through $marginCounter {.mb-#{$i+p} { margin-bottom:( $i + $p); }}
@for $i from 3 through $marginCounter {.mb-#{$i*5+p} { margin-bottom:( 5 * $i + $p); }}
@for $i from 6 through $marginCounter {.mb-#{$i*10+p} { margin-bottom:( 10 * $i + $p); }}
// //  margin Left
@for $i from 1 through $marginCounter {.ml-#{$i+p} { margin-left:( $i + $p); }}
@for $i from 3 through $marginCounter {.ml-#{$i*5+p} { margin-left:( 5 * $i + $p); }}
@for $i from 6 through $marginCounter {.ml-#{$i*10+p} { margin-left:( 10 * $i + $p); }}












//------------  Margins for mobile device
@include media('>md'){
.md-m-0 { margin:0; }
.md-mt-0 { margin-top:0; }
.md-mr-0 { margin-right:0; }
.md-mb-0 { margin-bottom:0; }
.md-ml-0 { margin-left:0; }
.md-mx-0 { margin-left:0;  margin-right:0; }
.md-my-0 { margin-top:0;  margin-bottom:0; }

.md-m-a { margin:auto; }
.md-mt-a { margin-top:auto; }
.md-mr-a { margin-right:auto; }
.md-mb-a { margin-bottom:auto; }
.md-ml-a { margin-left:auto; }
.md-mx-a { margin-left:auto;  margin-right:auto; }
.md-my-a { margin-top:auto;  margin-bottom:auto; }

// margin from 1 - 10 (1*10), 10 - 50 (5*10) , 60 - 100 (6*10)


// margin
@for $i from 1 through $marginCounter {.md-m-#{$i} { margin:( $i + $px); }}
@for $i from 3 through $marginCounter {.md-m-#{$i*5} { margin:( $i*5 + $px); }}
@for $i from 6 through $marginCounter {.md-m-#{$i*10} { margin:( $i*10 + $px); }}
@for $i from 2 through 5 {.md-m-#{$i*100} { margin:( $i*100 + $px); }}
// margin Top
@for $i from 1 through $marginCounter {.md-mt-#{$i} { margin-top:( $i + $px); }}
@for $i from 3 through $marginCounter {.md-mt-#{$i*5} { margin-top:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.md-mt-#{$i*10} { margin-top:( 10 * $i + $px); }}
@for $i from 2 through 5 {.md-mt-#{$i*100} { margin-top:( 100 * $i + $px); }}

// //  margin Right
@for $i from 1 through $marginCounter {.md-mr-#{$i} { margin-right:( $i + $px); }}
@for $i from 3 through $marginCounter {.md-mr-#{$i*5} { margin-right:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.md-mr-#{$i*10} { margin-right:( 10 * $i + $px); }}
@for $i from 2 through 5 {.md-mr-#{$i*100} { margin-right:( 100 * $i + $px); }}

// //  margin Bottom
@for $i from 1 through $marginCounter {.md-mb-#{$i} { margin-bottom:( $i + $px); }}
@for $i from 3 through $marginCounter {.md-mb-#{$i*5} { margin-bottom:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.md-mb-#{$i*10} { margin-bottom:( 10 * $i + $px); }}
@for $i from 2 through 5              {.md-mb-#{$i*100} { margin-bottom:( 100 * $i + $px); }}

// //  margin Left
@for $i from 1 through $marginCounter {.md-ml-#{$i} { margin-left:( $i + $px); }}
@for $i from 3 through $marginCounter {.md-ml-#{$i*5} { margin-left:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.md-ml-#{$i*10} { margin-left:( 10 * $i + $px); }}
@for $i from 2 through 5 {.md-ml-#{$i*100} { margin-left:( 100 * $i + $px); }}


// //  margin X-axis
@for $i from 1 through $marginCounter {.md-mx-#{$i} { margin-left:( $i + $px); margin-right:( $i + $px); }}
@for $i from 3 through $marginCounter {.md-mx-#{$i*5} { margin-left:( 5 * $i + $px); margin-right:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.md-mx-#{$i*10} { margin-left:( 10 * $i + $px); margin-right:( 10 * $i + $px);}}
@for $i from 2 through 5 {.md-mx-#{$i*100} { margin-left:( 100 * $i + $px); margin-right:( 100 * $i + $px);}}


// //  margin Y-axis
@for $i from 1 through $marginCounter {.md-my-#{$i} { margin-top:( $i + $px); margin-bottom:( $i + $px); }}
@for $i from 3 through $marginCounter {.md-my-#{$i*5} { margin-top:( 5 * $i + $px); margin-bottom:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.md-my-#{$i*10} { margin-top:( 10 * $i + $px); margin-bottom:( 10 * $i + $px);}}
@for $i from 2 through 5 {.md-my-#{$i*100} { margin-top:( 100 * $i + $px); margin-bottom:( 100 * $i + $px);}}




//------------- Negative Margins
@for $i from 1 through $marginCounter {.md-mt-minus-#{$i} { margin-top:( -$i + $px); }}
@for $i from 3 through $marginCounter {.md-mt-minus-#{$i*5} { margin-top:( -5 * $i + $px); }}
@for $i from 6 through $marginCounter {.md-mt-minus-#{$i*10} { margin-top:( -10 * $i + $px); }}
@for $i from 2 through 5 {.md-mt-minus-#{$i*100} { margin-top:( -100 * $i + $px); }}
// //  margin Right
@for $i from 1 through $marginCounter {.md-mr-minus-#{$i} { margin-right:( -$i + $px); }}
@for $i from 3 through $marginCounter {.md-mr-minus-#{$i*5} { margin-right:( -5 * $i + $px); }}
@for $i from 6 through $marginCounter {.md-mr-minus-#{$i*10} { margin-right:( -10 * $i + $px); }}
@for $i from 2 through 5 {.md-mr-minus-#{$i*100} { margin-right:( -100 * $i + $px); }}
// //  margin Bottom
@for $i from 1 through $marginCounter {.md-mb-minus-#{$i} { margin-bottom:( -$i + $px); }}
@for $i from 3 through $marginCounter {.md-mb-minus-#{$i*5} { margin-bottom:( -5 * $i + $px); }}
@for $i from 6 through $marginCounter {.md-mb-minus-#{$i*10} { margin-bottom:( -10 * $i + $px); }}
@for $i from 2 through 5 {.md-mb-minus-#{$i*100} { margin-bottom:( -100 * $i + $px); }}
// //  margin Left
@for $i from 1 through $marginCounter {.md-ml-minus-#{$i} { margin-left:( -$i + $px); }}
@for $i from 3 through $marginCounter {.md-ml-minus-#{$i*5} { margin-left:( -5 * $i + $px); }}
@for $i from 6 through $marginCounter {.md-ml-minus-#{$i*10} { margin-left:( -10 * $i + $px); }}
@for $i from 2 through 5 {.md-ml-minus-#{$i*100} { margin-left:( -100 * $i + $px); }}


//------------- Negative Margins
@for $i from 1 through $marginCounter {.md-mt-minus-#{$i+p} { margin-top:( -$i + $p); }}
@for $i from 3 through $marginCounter {.md-mt-minus-#{$i*5+p} { margin-top:( -5 * $i + $p); }}
@for $i from 6 through $marginCounter {.md-mt-minus-#{$i*10+p} { margin-top:( -10 * $i + $p); }}
// //  margin Right
@for $i from 1 through $marginCounter {.md-mr-minus-#{$i+p} { margin-right:( -$i + $p); }}
@for $i from 3 through $marginCounter {.md-mr-minus-#{$i*5+p} { margin-right:( -5 * $i + $p); }}
@for $i from 6 through $marginCounter {.md-mr-minus-#{$i*10+p} { margin-right:( -10 * $i + $p); }}
// //  margin Bottom
@for $i from 1 through $marginCounter {.md-mb-minus-#{$i+p} { margin-bottom:( -$i + $p); }}
@for $i from 3 through $marginCounter {.md-mb-minus-#{$i*5+p} { margin-bottom:( -5 * $i + $p); }}
@for $i from 6 through $marginCounter {.md-mb-minus-#{$i*10+p} { margin-bottom:( -10 * $i + $p); }}
// //  margin Left
@for $i from 1 through $marginCounter {.md-ml-minus-#{$i+p} { margin-left:( -$i + $p); }}
@for $i from 3 through $marginCounter {.md-ml-minus-#{$i*5+p} { margin-left:( -5 * $i + $p); }}
@for $i from 6 through $marginCounter {.md-ml-minus-#{$i*10+p} { margin-left:( -10 * $i + $p); }}


//------------- Margins %
@for $i from 1 through $marginCounter {.md-mt-#{$i+p} { margin-top:( $i + $p); }}
@for $i from 3 through $marginCounter {.md-mt-#{$i*5+p} { margin-top:( 5 * $i + $p); }}
@for $i from 6 through $marginCounter {.md-mt-#{$i*10+p} { margin-top:( 10 * $i + $p); }}
// //  margin Right
@for $i from 1 through $marginCounter {.md-mr-#{$i+p} { margin-right:( $i + $p); }}
@for $i from 3 through $marginCounter {.md-mr-#{$i*5+p} { margin-right:( 5 * $i + $p); }}
@for $i from 6 through $marginCounter {.md-mr-#{$i*10+p} { margin-right:( 10 * $i + $p); }}
// //  margin Bottom
@for $i from 1 through $marginCounter {.md-mb-#{$i+p} { margin-bottom:( $i + $p); }}
@for $i from 3 through $marginCounter {.md-mb-#{$i*5+p} { margin-bottom:( 5 * $i + $p); }}
@for $i from 6 through $marginCounter {.md-mb-#{$i*10+p} { margin-bottom:( 10 * $i + $p); }}
// //  margin Left
@for $i from 1 through $marginCounter {.md-ml-#{$i+p} { margin-left:( $i + $p); }}
@for $i from 3 through $marginCounter {.md-ml-#{$i*5+p} { margin-left:( 5 * $i + $p); }}
@for $i from 6 through $marginCounter {.md-ml-#{$i*10+p} { margin-left:( 10 * $i + $p); }}



}


//  Margins for large screens
@include media('>xl'){
.xl-m-0 { margin:0; }
.xl-mt-0 { margin-top:0; }
.xl-mr-0 { margin-right:0; }
.xl-mb-0 { margin-bottom:0; }
.xl-ml-0 { margin-left:0; }
.xl-mx-0 { margin-left:0;  margin-right:0; }
.xl-my-0 { margin-top:0;  margin-bottom:0; }

.xl-m-a { margin:auto; }
.xl-mt-a { margin-top:auto; }
.xl-mr-a { margin-right:auto; }
.xl-mb-a { margin-bottom:auto; }
.xl-ml-a { margin-left:auto; }
.xl-mx-a { margin-left:auto;  margin-right:auto; }
.xl-my-a { margin-top:auto;  margin-bottom:auto; }

// margin from 1 - 10 (1*10), 10 - 50 (5*10) , 60 - 100 (6*10)

// margin
@for $i from 1 through $marginCounter {.xl-m-#{$i} { margin:( $i + $px); }}
@for $i from 3 through $marginCounter {.xl-m-#{$i*5} { margin:( $i*5 + $px); }}
@for $i from 6 through $marginCounter {.xl-m-#{$i*10} { margin:( $i*10 + $px); }}
@for $i from 2 through 5 {.xl-m-#{$i*100} { margin:( $i*100 + $px); }}
// margin Top
@for $i from 1 through $marginCounter {.xl-mt-#{$i} { margin-top:( $i + $px); }}
@for $i from 3 through $marginCounter {.xl-mt-#{$i*5} { margin-top:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.xl-mt-#{$i*10} { margin-top:( 10 * $i + $px); }}
@for $i from 2 through 5 {.xl-mt-#{$i*100} { margin-top:( 100 * $i + $px); }}

// //  margin Right
@for $i from 1 through $marginCounter {.xl-mr-#{$i} { margin-right:( $i + $px); }}
@for $i from 3 through $marginCounter {.xl-mr-#{$i*5} { margin-right:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.xl-mr-#{$i*10} { margin-right:( 10 * $i + $px); }}
@for $i from 2 through 5 {.xl-mr-#{$i*100} { margin-right:( 100 * $i + $px); }}

// //  margin Bottom
@for $i from 1 through $marginCounter {.xl-mb-#{$i} { margin-bottom:( $i + $px); }}
@for $i from 3 through $marginCounter {.xl-mb-#{$i*5} { margin-bottom:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.xl-mb-#{$i*10} { margin-bottom:( 10 * $i + $px); }}
@for $i from 2 through 5              {.xl-mb-#{$i*100} { margin-bottom:( 100 * $i + $px); }}

// //  margin Left
@for $i from 1 through $marginCounter {.xl-ml-#{$i} { margin-left:( $i + $px); }}
@for $i from 3 through $marginCounter {.xl-ml-#{$i*5} { margin-left:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.xl-ml-#{$i*10} { margin-left:( 10 * $i + $px); }}
@for $i from 2 through 5 {.xl-ml-#{$i*100} { margin-left:( 100 * $i + $px); }}


// //  margin X-axis
@for $i from 1 through $marginCounter {.xl-mx-#{$i} { margin-left:( $i + $px); margin-right:( $i + $px); }}
@for $i from 3 through $marginCounter {.xl-mx-#{$i*5} { margin-left:( 5 * $i + $px); margin-right:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.xl-mx-#{$i*10} { margin-left:( 10 * $i + $px); margin-right:( 10 * $i + $px);}}
@for $i from 2 through 5 {.xl-mx-#{$i*100} { margin-left:( 100 * $i + $px); margin-right:( 100 * $i + $px);}}


// //  margin Y-axis
@for $i from 1 through $marginCounter {.xl-my-#{$i} { margin-top:( $i + $px); margin-bottom:( $i + $px); }}
@for $i from 3 through $marginCounter {.xl-my-#{$i*5} { margin-top:( 5 * $i + $px); margin-bottom:( 5 * $i + $px); }}
@for $i from 6 through $marginCounter {.xl-my-#{$i*10} { margin-top:( 10 * $i + $px); margin-bottom:( 10 * $i + $px);}}
@for $i from 2 through 5 {.xl-my-#{$i*100} { margin-top:( 100 * $i + $px); margin-bottom:( 100 * $i + $px);}}




//------------- Negative Margins
@for $i from 1 through $marginCounter {.xl-mt-minus-#{$i} { margin-top:( -$i + $px); }}
@for $i from 3 through $marginCounter {.xl-mt-minus-#{$i*5} { margin-top:( -5 * $i + $px); }}
@for $i from 6 through $marginCounter {.xl-mt-minus-#{$i*10} { margin-top:( -10 * $i + $px); }}
@for $i from 2 through 5 {.xl-mt-minus-#{$i*100} { margin-top:( -100 * $i + $px); }}
// //  margin Right
@for $i from 1 through $marginCounter {.xl-mr-minus-#{$i} { margin-right:( -$i + $px); }}
@for $i from 3 through $marginCounter {.xl-mr-minus-#{$i*5} { margin-right:( -5 * $i + $px); }}
@for $i from 6 through $marginCounter {.xl-mr-minus-#{$i*10} { margin-right:( -10 * $i + $px); }}
@for $i from 2 through 5 {.xl-mr-minus-#{$i*100} { margin-right:( -100 * $i + $px); }}
// //  margin Bottom
@for $i from 1 through $marginCounter {.xl-mb-minus-#{$i} { margin-bottom:( -$i + $px); }}
@for $i from 3 through $marginCounter {.xl-mb-minus-#{$i*5} { margin-bottom:( -5 * $i + $px); }}
@for $i from 6 through $marginCounter {.xl-mb-minus-#{$i*10} { margin-bottom:( -10 * $i + $px); }}
@for $i from 2 through 5 {.xl-mb-minus-#{$i*100} { margin-bottom:( -100 * $i + $px); }}
// //  margin Left
@for $i from 1 through $marginCounter {.xl-ml-minus-#{$i} { margin-left:( -$i + $px); }}
@for $i from 3 through $marginCounter {.xl-ml-minus-#{$i*5} { margin-left:( -5 * $i + $px); }}
@for $i from 6 through $marginCounter {.xl-ml-minus-#{$i*10} { margin-left:( -10 * $i + $px); }}
@for $i from 2 through 5 {.xl-ml-minus-#{$i*100} { margin-left:( -100 * $i + $px); }}

//------------- Margins %
@for $i from 1 through $marginCounter {.xl-mt-#{$i+p} { margin-top:( $i + $p); }}
@for $i from 3 through $marginCounter {.xl-mt-#{$i*5+p} { margin-top:( 5 * $i + $p); }}
@for $i from 6 through $marginCounter {.xl-mt-#{$i*10+p} { margin-top:( 10 * $i + $p); }}
// //  margin Right
@for $i from 1 through $marginCounter {.xl-mr-#{$i+p} { margin-right:( $i + $p); }}
@for $i from 3 through $marginCounter {.xl-mr-#{$i*5+p} { margin-right:( 5 * $i + $p); }}
@for $i from 6 through $marginCounter {.xl-mr-#{$i*10+p} { margin-right:( 10 * $i + $p); }}
// //  margin Bottom
@for $i from 1 through $marginCounter {.xl-mb-#{$i+p} { margin-bottom:( $i + $p); }}
@for $i from 3 through $marginCounter {.xl-mb-#{$i*5+p} { margin-bottom:( 5 * $i + $p); }}
@for $i from 6 through $marginCounter {.xl-mb-#{$i*10+p} { margin-bottom:( 10 * $i + $p); }}
// //  margin Left
@for $i from 1 through $marginCounter {.xl-ml-#{$i+p} { margin-left:( $i + $p); }}
@for $i from 3 through $marginCounter {.xl-ml-#{$i*5+p} { margin-left:( 5 * $i + $p); }}
@for $i from 6 through $marginCounter {.xl-ml-#{$i*10+p} { margin-left:( 10 * $i + $p); }}


//------------- Negative Margins
@for $i from 1 through $marginCounter {.xl-mt-minus-#{$i+p} { margin-top:( -$i + $p); }}
@for $i from 3 through $marginCounter {.xl-mt-minus-#{$i*5+p} { margin-top:( -5 * $i + $p); }}
@for $i from 6 through $marginCounter {.xl-mt-minus-#{$i*10+p} { margin-top:( -10 * $i + $p); }}
// //  margin Right
@for $i from 1 through $marginCounter {.xl-mr-minus-#{$i+p} { margin-right:( -$i + $p); }}
@for $i from 3 through $marginCounter {.xl-mr-minus-#{$i*5+p} { margin-right:( -5 * $i + $p); }}
@for $i from 6 through $marginCounter {.xl-mr-minus-#{$i*10+p} { margin-right:( -10 * $i + $p); }}
// //  margin Bottom
@for $i from 1 through $marginCounter {.xl-mb-minus-#{$i+p} { margin-bottom:( -$i + $p); }}
@for $i from 3 through $marginCounter {.xl-mb-minus-#{$i*5+p} { margin-bottom:( -5 * $i + $p); }}
@for $i from 6 through $marginCounter {.xl-mb-minus-#{$i*10+p} { margin-bottom:( -10 * $i + $p); }}
// //  margin Left
@for $i from 1 through $marginCounter {.xl-ml-minus-#{$i+p} { margin-left:( -$i + $p); }}
@for $i from 3 through $marginCounter {.xl-ml-minus-#{$i*5+p} { margin-left:( -5 * $i + $p); }}
@for $i from 6 through $marginCounter {.xl-ml-minus-#{$i*10+p} { margin-left:( -10 * $i + $p); }}


}

