/* 
-------------------------------------------
Overflow
-------------------------------------------
*/

.overflow-hide	{
    overflow: hidden !important;
    &::-webkit-scrollbar {
        display: none;
        width: 0;
        background: transparent;
}}

.overflow-x-hide	{overflow-x: hidden;}
.overflow-y-hide	{overflow-y: hidden;}

.overflow-auto     {overflow: auto;}
.overflow-x-auto	{overflow-x: auto;}
.overflow-y-auto	{overflow-y: auto;}

.overflow-visible	    {overflow: visible;}
.overflow-x-visible	{overflow-x: visible;}
.overflow-y-visible	{overflow-y: visible;}

.overflow-scroll	    {overflow: scroll;}
.overflow-x-scroll	{overflow-x: scroll;}
.overflow-y-scroll	{overflow-y: scroll;}

