
/* 
-------------------------------------------
Padding
-------------------------------------------
*/
$paddingCounter : 10;
$unit : 0px;
.p-0 { padding:0; }
.pt-0 { padding-top:0; }
.pr-0 { padding-right:0; }
.pb-0 { padding-bottom:0; }
.pl-0 { padding-left:0; }
.px-0 { padding-left:0;  padding-right:0; }
.py-0 { padding-top:0;  padding-bottom:0; }

// Padding from 1 - 10 (1*10), 10 - 50 (5*10) , 60 - 100 (6*10)

// Padding
@for $i from 1 through $paddingCounter {.p-#{$i} { padding:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.p-#{$i*5} { padding:( $i*5 + $unit); }}
@for $i from 6 through $paddingCounter {.p-#{$i*10} { padding:( $i*10 + $unit); }}
@for $i from 2 through $paddingCounter {.p-#{$i*100} { padding:( $i*100 + $unit); }}
// Padding Top
@for $i from 1 through $paddingCounter {.pt-#{$i} { padding-top:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.pt-#{$i*5} { padding-top:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.pt-#{$i*10} { padding-top:( 10 * $i + $unit); }}
@for $i from 2 through $paddingCounter {.pt-#{$i*100} { padding-top:( $i*100 + $unit); }}
// //  Padding Right
@for $i from 1 through $paddingCounter {.pr-#{$i} { padding-right:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.pr-#{$i*5} { padding-right:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.pr-#{$i*10} { padding-right:( 10 * $i + $unit); }}
@for $i from 2 through $paddingCounter {.pr-#{$i*100} { padding-right:( $i*100 + $unit); }}
// //  Padding Bottom
@for $i from 1 through $paddingCounter {.pb-#{$i} { padding-bottom:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.pb-#{$i*5} { padding-bottom:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.pb-#{$i*10} { padding-bottom:( 10 * $i + $unit); }}
@for $i from 2 through $paddingCounter {.pb-#{$i*100} { padding-bottom:( $i*100 + $unit); }}
// //  Padding Left
@for $i from 1 through $paddingCounter {.pl-#{$i} { padding-left:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.pl-#{$i*5} { padding-left:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.pl-#{$i*10} { padding-left:( 10 * $i + $unit); }}
@for $i from 2 through $paddingCounter {.pl-#{$i*100} { padding-left:( $i*100 + $unit); }}
// //  Padding X-axis
@for $i from 1 through $paddingCounter {.px-#{$i} { padding-left:( $i + $unit); padding-right:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.px-#{$i*5} { padding-left:( 5 * $i + $unit); padding-right:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.px-#{$i*10} { padding-left:( 10 * $i + $unit); padding-right:( 10 * $i + $unit);}}
@for $i from 2 through $paddingCounter {.px-#{$i*100} { padding-left:( $i*100 + $unit);padding-right:( $i*100 + $unit); }}
// //  Padding Y-axis
@for $i from 1 through $paddingCounter {.py-#{$i} { padding-top:( $i + $unit); padding-bottom:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.py-#{$i*5} { padding-top:( 5 * $i + $unit); padding-bottom:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.py-#{$i*10} { padding-top:( 10 * $i + $unit); padding-bottom:( 10 * $i + $unit);}}


@include media('>md') {
.md-p-0 { padding:0; }
.md-pt-0 { padding-top:0; }
.md-pr-0 { padding-right:0; }
.md-pb-0 { padding-bottom:0; }
.md-pl-0 { padding-left:0; }
.md-px-0 { padding-left:0;  padding-right:0; }
.md-py-0 { padding-top:0;  padding-bottom:0; }

// Padding from 1 - 10 (1*10), 10 - 50 (5*10) , 60 - 100 (6*10)

// Padding
@for $i from 1 through $paddingCounter {.md-p-#{$i} { padding:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.md-p-#{$i*5} { padding:( $i*5 + $unit); }}
@for $i from 6 through $paddingCounter {.md-p-#{$i*10} { padding:( $i*10 + $unit); }}
// Padding Top
@for $i from 1 through $paddingCounter {.md-pt-#{$i} { padding-top:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.md-pt-#{$i*5} { padding-top:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.md-pt-#{$i*10} { padding-top:( 10 * $i + $unit); }}
// //  Padding Right
@for $i from 1 through $paddingCounter {.md-pr-#{$i} { padding-right:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.md-pr-#{$i*5} { padding-right:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.md-pr-#{$i*10} { padding-right:( 10 * $i + $unit); }}
// //  Padding Bottom
@for $i from 1 through $paddingCounter {.md-pb-#{$i} { padding-bottom:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.md-pb-#{$i*5} { padding-bottom:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.md-pb-#{$i*10} { padding-bottom:( 10 * $i + $unit); }}
// //  Padding Left
@for $i from 1 through $paddingCounter {.md-pl-#{$i} { padding-left:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.md-pl-#{$i*5} { padding-left:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.md-pl-#{$i*10} { padding-left:( 10 * $i + $unit); }}
// //  Padding X-axis
@for $i from 1 through $paddingCounter {.md-px-#{$i} { padding-left:( $i + $unit); padding-right:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.md-px-#{$i*5} { padding-left:( 5 * $i + $unit); padding-right:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.md-px-#{$i*10} { padding-left:( 10 * $i + $unit); padding-right:( 10 * $i + $unit);}}
// //  Padding Y-axis
@for $i from 1 through $paddingCounter {.md-py-#{$i} { padding-top:( $i + $unit); padding-bottom:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.md-py-#{$i*5} { padding-top:( 5 * $i + $unit); padding-bottom:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.md-py-#{$i*10} { padding-top:( 10 * $i + $unit); padding-bottom:( 10 * $i + $unit);}}
}
@include media('>xl') {
.xl-p-0 { padding:0; }
.xl-pt-0 { padding-top:0; }
.xl-pr-0 { padding-right:0; }
.xl-pb-0 { padding-bottom:0; }
.xl-pl-0 { padding-left:0; }
.xl-px-0 { padding-left:0;  padding-right:0; }
.xl-py-0 { padding-top:0;  padding-bottom:0; }

// Padding from 1 - 10 (1*10), 10 - 50 (5*10) , 60 - 100 (6*10)

// Padding
@for $i from 1 through $paddingCounter {.xl-p-#{$i} { padding:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.xl-p-#{$i*5} { padding:( $i*5 + $unit); }}
@for $i from 6 through $paddingCounter {.xl-p-#{$i*10} { padding:( $i*10 + $unit); }}
// Padding Top
@for $i from 1 through $paddingCounter {.xl-pt-#{$i} { padding-top:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.xl-pt-#{$i*5} { padding-top:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.xl-pt-#{$i*10} { padding-top:( 10 * $i + $unit); }}
// //  Padding Right
@for $i from 1 through $paddingCounter {.xl-pr-#{$i} { padding-right:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.xl-pr-#{$i*5} { padding-right:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.xl-pr-#{$i*10} { padding-right:( 10 * $i + $unit); }}
// //  Padding Bottom
@for $i from 1 through $paddingCounter {.xl-pb-#{$i} { padding-bottom:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.xl-pb-#{$i*5} { padding-bottom:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.xl-pb-#{$i*10} { padding-bottom:( 10 * $i + $unit); }}
// //  Padding Left
@for $i from 1 through $paddingCounter {.xl-pl-#{$i} { padding-left:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.xl-pl-#{$i*5} { padding-left:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.xl-pl-#{$i*10} { padding-left:( 10 * $i + $unit); }}
// //  Padding X-axis
@for $i from 1 through $paddingCounter {.xl-px-#{$i} { padding-left:( $i + $unit); padding-right:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.xl-px-#{$i*5} { padding-left:( 5 * $i + $unit); padding-right:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.xl-px-#{$i*10} { padding-left:( 10 * $i + $unit); padding-right:( 10 * $i + $unit);}}
// //  Padding Y-axis
@for $i from 1 through $paddingCounter {.xl-py-#{$i} { padding-top:( $i + $unit); padding-bottom:( $i + $unit); }}
@for $i from 3 through $paddingCounter {.xl-py-#{$i*5} { padding-top:( 5 * $i + $unit); padding-bottom:( 5 * $i + $unit); }}
@for $i from 6 through $paddingCounter {.xl-py-#{$i*10} { padding-top:( 10 * $i + $unit); padding-bottom:( 10 * $i + $unit);}}
}