// Responsive Form

.form-style-1 {

fieldset {
	border: 0;
  padding: 0;
}
form > div > label,
legend {
  float: none;
}
form > div > div,
form > div > fieldset > div {
  float: none;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea,
select {
  width: 100%; 
  padding: 0.65rem 1rem;
}

@include media('>md'){
  // form > div {
  //   clear: both;
  //   overflow: hidden;
  //   padding: 1px;
  // }
  // form > div > label,
  // legend {
  //   width: 25%;
  //   float: left;
  //   padding-right: 10px;
  // }
  // form > div > div,
  // form > div > fieldset > div {
  //   width: 75%;
  //   float: right;
  // }
  // select,
  // input[type=text],
  // input[type=email],
  // input[type=url],
  // input[type=password] {
  //   width: 50%;
  // }
}

@include media('>xl'){
  form > div > label,
	legend {
  	text-align: right;
  }
}

// Form spacing

form header {
  margin: 0 0 20px 0; 
}
form header h2 {
  margin: 0 0 5px 0;
}
form > div {
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
  padding-right: 10px;
}

fieldset {
  padding: 0;
}


  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  margin: 0 0 5px 0;
  }

}