// Responsive Form

.form-style-2 {
 
  
  textarea,
  input {
    background: transparent;
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: var(--form-border-color);
   }
  
   
   // ::-webkit-input-placeholder,
// :-moz-placeholder,
// ::-moz-placeholder,
// :-ms-input-placeholder,
::placeholder {
  color: var(--placeholder-text-color);
}

}