 
// -------------------------------------------
// Color Variables
// -------------------------------------------
// Define your the colors used in your theme for 
// fonts and background in :root and sass array
// The color utility classes get generated automatically 
// for font-colorx and bg-x

:root {
    --white: white;
    --black: black;
    --transparent: transparent;
    --warning: #ffab73;
    --success: #cee6b4;
    --info: #fff9b0;
    --error: #ac0d0d;

    --light: #f7f8fa;
    --light-1: #f3f2f8;
    --light-2: #e2e2ea;
    --light-3: #ebebeb;
    --light-4: #dcdbd9;
    --light-5: #bebdc3;

    // --light: #FDFDFD;
    // --light-1: #EBEBEC;
    // --light-2: #D9D8DA;
    // --light-3: #C9C6C9;
    // --light-4: #B7B4B6;
    // --light-5: #7e7e7e;

    --dark: #0f0f0f;
    --dark-1: #151515;
    --dark-2: #282828;
    --dark-3: #333335;
    --dark-4: #3d3e40;
    --dark-5: #474748;

    // --dark: #070707;
    // --dark-1: #131415;
    // --dark-2: #1E2123;
    // --dark-3: #36383B;
    // --dark-4: #4b4b4b;
    // --dark-5: #474A4C;
    
    --accent: #eb1c24;
    --accent-1: #361dd1;
    --accent-2: #73f89f;
    --accent-3: #f27c3e;
    --accent-4:#d22285;  
    --accent-5:#f8f073;  
    // --accent-5:#7f33d4;  

    --base: #e1e6e9;
    --base-1: #d8d8d8;
    --base-2: #cbcbcb;
    --base-3: #aaabac;    
    --base-4  :#9b9b9b;
    --base-5: #7d7e80;

    --highlight: #fcd1d1;
    --highlight-1: #edffec;
    --highlight-2: #edeef7;
    --highlight-3: #bccbff;
    --highlight-4  :#fffecc;
    --highlight-5  :#e4fbff;

    --current : currentColor;
}


$colors: (
  white   var(--white  ),
  black   var(--black  ),
  transparent var(--transparent),

  warning  var(--warning),
  success  var(--success),
  info     var(--info   ),
  error    var(--error  ),
  
  light  var(--light),
  light-1  var(--light-1),
  light-2  var(--light-2),
  light-3  var(--light-3),
  light-4  var(--light-4),
  light-5  var(--light-5),
  
  dark  var(--dark),
  dark-1  var(--dark-1),
  dark-2  var(--dark-2),
  dark-3  var(--dark-3),
  dark-4  var(--dark-4),
  dark-5  var(--dark-5),
  
  accent  var(--accent),
  accent-1  var(--accent-1),
  accent-2  var(--accent-2),
  accent-3  var(--accent-3),
  accent-4  var(--accent-4),
  accent-5  var(--accent-5),
  
  base    var(--base  ),
  base-1    var(--base-1  ),
  base-2    var(--base-2  ),
  base-3    var(--base-3  ),
  base-4    var(--base-4  ),
  base-5    var(--base-5  ),
  
  highlight    var(--highlight  ),
  highlight-1    var(--highlight-1  ),
  highlight-2    var(--highlight-2  ),
  highlight-3    var(--highlight-3  ),
  highlight-4    var(--highlight-4  ),
  highlight-5    var(--highlight-5  ),
  
  current    var(--current  ),

);