

.preloader-style-circle-gradient {
  user-select: none;
  border-radius: 50%;
  box-shadow: #b8d721 0px 1px 1px, #6fbd23 0.5px 0.866px 1px, #44a559 0.866px 0.5px 1px, #3d76b7 1px 0px 1px, #9f57ef 0.866px -0.5px 1px, #fb69c8 0.5px -0.866px 1px, #ff90c7 0px -1px 1px, #ffa481 -0.5px -0.866px 1px, #ff9c5b -0.866px -0.5px 1px, #ffcc6c -1px 0px 1px, #f6cb26 -0.866px 0.5px 1px, #fff019 -0.5px 0.866px 1px;
  filter: saturate(400%) contrast(0.9);

  width: 100vw;
  height: 100vh;
  z-index: 100;
}
