

.drop-caps:first-of-type {
  &:first-letter {
    float: left;
    font-weight: 600;
    padding: 0.20em 0.1em 0 0;
    margin: 0 0.05em 0 0;
  }
}

.font-smallcaps {
  font-feature-settings: "smcp", "swsh" 2;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.drop-caps::first-letter {
  -webkit-initial-letter: 4;
  initial-letter: 4;
  color: #FE742F;
  font-weight: bold;
  margin-right: 0.5em;
}