
/* 
-------------------------------------------
Font Size
-------------------------------------------
*/

:root {
  --font-size-0: 0;
  --font-size-1: 4px;
  --font-size-2: 8px;
  --font-size-3: 12px;
  --font-size-4: 16px;
  --font-size-5: 20px;
  --font-size-6: 24px;
  --font-size-7: 28px;
  --font-size-8: 32px;
  --font-size-9: 36px;
  --font-size-10: 40px;
  --font-size-11: 44px;
  --font-size-12: 48px;
  --font-size-13: 52px;
  --font-size-14: 56px;
  --font-size-15: 60px;
  --font-size-16: 64px;
  --font-size-17: 68px;
  --font-size-18: 72px;
  --font-size-19: 76px;
  --font-size-20: 80px;
  --font-size-21: 84px;
  --font-size-22: 88px;
  --font-size-23: 92px;
  --font-size-24: 96px;
}

$font-size: (
  font-size-0 var(--font-size-0), 
  font-size-1 var(--font-size-1), 
  font-size-2 var(--font-size-2), 
  font-size-3 var(--font-size-3), 
  font-size-4 var(--font-size-4), 
  font-size-5 var(--font-size-5), 
  font-size-6 var(--font-size-6), 
  font-size-7 var(--font-size-7), 
  font-size-8 var(--font-size-8), 
  font-size-9 var(--font-size-9), 
  font-size-10 var(--font-size-10), 
  font-size-11 var(--font-size-11), 
  font-size-12 var(--font-size-12), 
  font-size-13 var(--font-size-13), 
  font-size-14 var(--font-size-14), 
  font-size-15 var(--font-size-15), 
  font-size-16 var(--font-size-16), 
  font-size-17 var(--font-size-17), 
  font-size-18 var(--font-size-18), 
  font-size-19 var(--font-size-19), 
  font-size-20 var(--font-size-20), 
  font-size-21 var(--font-size-21), 
  font-size-22 var(--font-size-22), 
  font-size-23 var(--font-size-23), 
  font-size-24 var(--font-size-24), 
  font-size-25 var(--font-size-25), 
  font-size-26 var(--font-size-26), 
);

@each $i in $font-size {.#{nth($i, 1)} {
  font-size: #{nth($i, 2)};
  line-height: calc( #{nth($i,2)} + 1rem);
}}
@include media('>=md') {@each $i in $font-size {.md-#{nth($i, 1)} {
  font-size: #{nth($i, 2)};
  line-height: calc( #{nth($i,2)} + 1rem);

}}}
@include media('>=xl') {@each $i in $font-size {.xl-#{nth($i, 1)} {
  font-size: #{nth($i, 2)};
  line-height: calc( #{nth($i,2)} + 1rem);
}}}

/* 
-------------------------------------------
Fluid Font Size
-------------------------------------------
*/

:root {
    --font-size-fluid-0: clamp(0.895rem, 0.8987rem + 0.8617vw, 1.35rem);
    --font-size-fluid-1: clamp(1.05rem, 0.8095rem + 1.2024vw, 1.6663rem);
    --font-size-fluid-2: clamp(1.26rem, 0.8849rem + 1.8756vw, 2.2213rem);
    --font-size-fluid-3: clamp(1.5119rem, 0.9465rem + 2.8268vw, 2.9606rem);
    --font-size-fluid-4: clamp(1.8144rem, 0.9822rem + 4.161vw, 3.9469rem);
    --font-size-fluid-5: clamp(2.1775rem, 0.9743rem + 6.0159vw, 5.2606rem);
    --font-size-fluid-6: clamp(2.6125rem, 0.8954rem + 8.5854vw, 7.0125rem);
    --font-size-fluid-7: clamp(3.135rem, 0.7104rem + 12.1232vw, 9.3481rem);
    --font-size-fluid-8: clamp(3.7625rem, 0.3679rem + 16.9732vw, 12.4613rem);
    --font-size-fluid-9: clamp(4.515rem, -0.2052rem + 23.6012vw, 16.6106rem);
    --font-size-fluid-10: clamp(5.4175rem, -1.1091rem + 32.6329vw, 22.1419rem);
}


$font-size-fluid: (
  fluid  var(--font-size-fluid-0),
  fluid-1  var(--font-size-fluid-1),
  fluid-2  var(--font-size-fluid-2),
  fluid-3  var(--font-size-fluid-3),
  fluid-4  var(--font-size-fluid-4),
  fluid-5  var(--font-size-fluid-5),
  fluid-6  var(--font-size-fluid-6),
  fluid-7  var(--font-size-fluid-7),
  fluid-8  var(--font-size-fluid-8),
  fluid-9  var(--font-size-fluid-9),
  fluid-10 var(--font-size-fluid-10)
);



@each $i in $font-size-fluid {.font-size-#{nth($i, 1)} {
  font-size: #{nth($i, 2)};
  line-height: calc( #{nth($i,2)} + 1rem);
}}
@include media('>=md') {@each $i in $font-size-fluid {.md-font-size-#{nth($i, 1)} {
  font-size: #{nth($i, 2)};
  line-height: calc( #{nth($i,2)} + 1rem);

}}}
@include media('>=xl') {@each $i in $font-size-fluid {.xl-font-size-#{nth($i, 1)} {
  font-size: #{nth($i, 2)};
  line-height: calc( #{nth($i,2)} + 1rem);
}}}