.hr-1 {
    width: 100%;
    border: 0;
    height: 2px;
    // transform: translateY(-2px);
    position: relative;    
    &::before {
        @include gradient-1;
        content: '';
        width: 70%;
        display: block;
        clear: both;
        height: 2px;
        position: absolute;
    }
    &.hr-right:before{
        right: 0;
    }
    &.hr-left:before{
        left: 0;
    }
    &.hr-center:before{
        left: 50%;
        transform: translateX(-50%);
    }
}

.hr-2 {
    width: 70%;
    border: 0;
    height: 2px;
    margin-top: -2px;
    position: relative;
    float:right;
    background: currentColor;
}