/* 
-------------------------------------------
Letter Spacing
-------------------------------------------
*/
$spacer : .15;


.letter-spacing-0 { letter-spacing: 0; }


.letter-spacing-1em { letter-spacing: em($spacer * 1); }
.letter-spacing-2em { letter-spacing: em($spacer * 2); }
.letter-spacing-3em { letter-spacing: em($spacer * 3); }
.letter-spacing-4em { letter-spacing: em($spacer * 4); }
.letter-spacing-5em { letter-spacing: em($spacer * 5); }
.letter-spacing-6em { letter-spacing: em($spacer * 6); }
.letter-spacing-7em { letter-spacing: em($spacer * 7); }
.letter-spacing-8em { letter-spacing: em($spacer * 8); }
.letter-spacing-9em { letter-spacing: em($spacer * 9); }
.letter-spacing-10em { letter-spacing: em($spacer * 10); }

.letter-spacing-1rem { letter-spacing: rem($spacer * 1); }
.letter-spacing-2rem { letter-spacing: rem($spacer * 2); }
.letter-spacing-3rem { letter-spacing: rem($spacer * 3); }
.letter-spacing-4rem { letter-spacing: rem($spacer * 4); }
.letter-spacing-5rem { letter-spacing: rem($spacer * 5); }
.letter-spacing-6rem { letter-spacing: rem($spacer * 6); }
.letter-spacing-7rem { letter-spacing: rem($spacer * 7); }
.letter-spacing-8rem { letter-spacing: rem($spacer * 8); }
.letter-spacing-9rem { letter-spacing: rem($spacer * 9); }
.letter-spacing-10rem { letter-spacing: rem($spacer * 10); }

// .letter-spacing-1vw { letter-spacing: 1vw; }
// .letter-spacing-2vw { letter-spacing: 2vw; }
// .letter-spacing-3vw { letter-spacing: 3vw; }
// .letter-spacing-4vw { letter-spacing: 4vw; }
// .letter-spacing-5vw { letter-spacing: 5vw; }
// .letter-spacing-6vw { letter-spacing: 6vw; }
// .letter-spacing-7vw { letter-spacing: 7vw; }
// .letter-spacing-8vw { letter-spacing: 8vw; }
// .letter-spacing-9vw { letter-spacing: 9vw; }
// .letter-spacing-10vw {letter-spacing: 10vw; }
// .letter-spacing-20vw { letter-spacing: 20vh }
// .letter-spacing-30vw { letter-spacing: 30vh }
// .letter-spacing-40vw { letter-spacing: 40vh }
// .letter-spacing-50vw { letter-spacing: 50vh }
// .letter-spacing-60vw { letter-spacing: 60vh }
// .letter-spacing-70vw { letter-spacing: 70vh }
// .letter-spacing-80vw { letter-spacing: 80vh }
// .letter-spacing-90vw { letter-spacing: 90vh }
// .letter-spacing-100vw { letter-spacing:100vh }


