/*
----------------
Line Break
----------------
*/
  
  .line-break {
    display:block;
    &::before { content: "\A";}
  }
  
  @include media('>md') {
    .md-line-break {
      display:block;
      &::before { content: "\A"; }
    }
  }

  @include media('>xl') {
    .xl-line-break {
      display:block;
      &::before { content: "\A"; }
    }
  }