.text-strike {
    position: relative;
    margin: 0 8px;
    &:before {
        position: absolute;
        content: "";
        left: -4px;
        top: 50%;
        right: -4px;
        border-top: 2px solid var(--accent);    
        transform:rotate(-5deg);
    }
  }


  // Text Decoration
.text-strike-2 {
    text-decoration: line-through;
  }
  .text-overline {
    text-decoration: overline;
  }
  .text-underline {
    border-bottom: 1px solid currentColor;
    display: inline-block;
  }

  .text-decoration-none {
    text-decoration: none;
  }