// h1, h2, h3, h4, h5, h6, dl, dd, ol, ul, menu, figure, blockquote, p, pre, form

.skin-dark {
    //  Text
    color: var(--light);

    //  Background
    background-color: var(--dark);

    // Links
    a {
        color: currentColor;
    }

    // Menu Button
    .hamburger span {
        background: currentColor;
    }
    //  Slider arrows
    .swiper-button-prev,
    .swiper-button-next {
        background: var(--transparent);
    }
    //  Slider Paginations
    .swiper-pagination-bullet {
        background: var(--base-4);
        &.swiper-pagination-bullet-active {
            background: var(--accent);
        }
    }
    //  Form
    form > div > fieldset label {
        font-size: 90%;
    }
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    textarea {
        width: 100%;
        border: 1px solid var(--light-2);
    }
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="password"]:focus,
    textarea:focus {
        outline: 0;
        border-color: var(--accent);
    }
    button {
        border: none;
        cursor: pointer;
    }
}
