// h1, h2, h3, h4, h5, h6, dl, dd, ol, ul, menu, figure, blockquote, p, pre, form

.skin-dark {
    --form-border-color: var(--dark-4);
    --placeholder-text-color: var(--base-4);
    //  Text
    color: var(--light);

    //  Background
    background-color: var(--dark);

    // Links
    a {
        color: currentColor;
    }

    // Menu Button
    .hamburger span {
        background: currentColor;
    }
    //  Slider arrows
    .swiper-button-prev,
    .swiper-button-next {
        background: var(--transparent);
    }
    //  Slider Paginations
    .swiper-pagination-bullet {
        background: var(--base-4);
        &.swiper-pagination-bullet-active {
            background: var(--accent);
        }
    }


}
