@include media('<md') {
    #header-main.sm-menu-split:after {
        content: "SM SP";
    }
}

@include media('>=md', '<=xl') {
    #header-main.md-menu-split:after {
        content: "MD SP";
    }
}

@include media('>xl') {
    #header-main.xl-menu-split:after {
        content: "xl SP";
    }
}