@include media('<md') {
    #header-main.sm-menu-toggle:after {
        content: "SM TG";
    }
}

@include media('>=md', '<=xl') {
    #header-main.md-menu-toggle:after {
        content: "MD TG";
    }
}

@include media('>xl') {
    #header-main.xl-menu-toggle:after {
        content: "xl TG";
    }
}