@include media('<md') {
    #header-main.sm-menu-vertical:after {
        content: "SM VR";
    }
}

@include media('>=md', '<=xl') {
    #header-main.md-menu-vertical:after {
        content: "MD VR";
    }
}

@include media('>xl') {
    #header-main.xl-menu-vertical:after {
        content: "xl VR";
    }
}