    @mixin menu-fullscreen {
        .menu-primary {
            position: absolute;
            overflow: hidden;
            height: 100%;
            width: 100%;
            z-index: 99;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .0);
            transition: all 0.65s cubic-bezier(1, 0, 0, 1);
            .menu-inner {
                position: fixed;
                top: -100%;
                left: 0;
                transition: all 0.65s cubic-bezier(1, 0, 0, 1);
                padding: 4em;
                background: var(--dark-2);
                width: min-content;
                height: 100%;
                max-height: 100%;
                overflow-y: auto;
                z-index: 99;
                .menu-bar {
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }
    
    @include media('<md') {
        .sm-menu-fullscreen {
            @include menu-fullscreen;
        }
    }
    
    @include media('>=md', '<=xl') {
        .md-menu-fullscreen {
            @include menu-fullscreen;
        }
    }
    
    @include media('>xl') {
        .xl-menu-fullscreen {
            @include menu-fullscreen;
        }
    }
    
    .sm-menu-fullscreen,
    .md-menu-fullscreen,
    .xl-menu-fullscreen {
        .menu-primary.active {
            background: rgba(0, 0, 0, .90);
            transition: all 0.65s cubic-bezier(1, 0, 0, 1);
            .menu-inner {
                top: 0;
                left: 0;
                transition: all 0.65s cubic-bezier(1, 0, 0, 1);
            }
        }
    }
    
    // @include media('<md'){ #header-main.sm-menfullscreen:after { content:"SM FS"; }}
    // @include media('>md','<xl'){ #header-main.-menu-fullscreen:after { content:"MD FS"; }}
    // @include media('>xl'){ #header-main.xl-menfullscreen:after { content:"xl FS"; }}