// .tab-layout-5 {
//     display: grid;
// }

// @include media('>md') {
//     .tab-layout-5 {
//         // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));   
//         grid-template-columns: auto 1fr; 
//         .tab-content.active {
//             grid-column-start: 1 ;
//             grid-column-end: -1 ;
//             height: 100%;
//         }
//         .tab-button {
         
//         }        
//     }
// }


.tab-layout-8 {
    display: grid;
    .tab-content {
        display: none;
    }
    .tab-content.active {
        display: block;
    }
}

@include media('>md') {
    .tab-layout-8 {
        grid-template-columns: auto 1fr; 
        .tab-content{
            display: block;
        }
    }
}