.tab-layout-9 {


    .tab-content.active {
        position: absolute;
        opacity: 0;
        transform: rotateX(-90deg) translateX(0);
        visibility: hidden;
    }
    .tab-button {
        position: relative;
    }
    .tab-button:hover .tab-content {
    //  #tab-2.tab-content {
        position: static;
        opacity: 1;
        transform: rotateX(0) translateX(0);
        visibility: visible;

        position: absolute;
        // right: 50%;
        top: 50%;
        transform: translateY(-50%);
        left: 10%;
        overflow: hidden;
        z-index: 99;
    }

    // display: grid;
    // .tab-button a {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    // }
//     .tab-content.active {
//         display: block;
//     }
// }

@include media('>md') {


    // .tab-layout-9 {
//         // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));   
//         grid-template-columns: 1fr; 
//         .tab-content.active {
//             display: none;
//         }
//         .tab-panel {
//             position: relative; 
//         }
//         .tab-button:hover + .tab-content {
//             position: absolute;
//             // right: 50%;
//             pointer-events:none;
//             cursor: pointer;
//             top: -45%;
//             left: 35%;
//             max-width: 220px;
//             max-height: 250px;
//             overflow: auto;
//             display: block !important ;
//             z-index: 99;
//         }        
    }
}

