.container-boxed .bg-image {   
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    display: grid;
    mix-blend-mode: darken;
    display: grid;
    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}


