
.tab-area {
    background: var(--dark-1);
    .tab-button {
        background: #000;
        border-bottom: 1px solid var(--dark-2);
        a {
            display: block;
            padding: 1rem 2rem;
            text-decoration: none;
            font-size: 24px;
            color: #8f908b;
            font-weight: 400;
            &:focus {
                outline: none;
            }
        }
        &.active{
            a {
                color: var(--accent);
            }
        }
    }
    .tab-content {
        display: none;
        background: var(--dark-2);
        padding: 2rem;
    }
    .tab-content.active {
        display: block;
    }
}




@import 'tab-1';
@import 'tab-2';
@import 'tab-3';
@import 'tab-4';
@import 'tab-5';
@import 'tab-6';
@import 'tab-7';
@import 'tab-8';
@import 'tab-9';


