
.tab-area {
    .tab-content {
        position: absolute;
        opacity: 0;
        transform: rotateX(-90deg) translateX(0);
        visibility: hidden;
    }
    .tab-content.active {
        position: static;
        opacity: 1;
        transform: rotateX(0) translateX(0);
        visibility: visible;
    }
}