//  Simple Fade Slider

.ui-slider-1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

// @include media('>md'){
//     .ui-slider-1 {
//     max-width: 580px;
//     max-height: 340px;
//     }
// }
// @include media('>xl'){
//     .ui-slider-1 {
//     max-width: 940px;
//     max-height: 540px;
//     }
// }


