// //  Page layout with sidebar

.page-layout-5 {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
}

@include media('>lg') {
    .page-layout-5 {
        grid-template-columns: repeat(12, 1fr);
        .header-area{
            grid-column: 1 / span 12;
        }
        .content-area {
            grid-column: 1 / span 9;
        }
        .sidebar-area {
            grid-column: 10 / span 3;
        }
        .footer-area {
            grid-column: 1 / span 12;
        }
    }

}
