section .container {
    padding: 1rem;
}

.boxed{
    section {
       display:grid;
       grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
       .container{
           grid-column: 2 / 3;
       }

    }
}