section {
    box-sizing: border-box !important;
    position: relative;
    .container {
        box-sizing: border-box !important;
        z-index: 2;
        // Overflow fix
        position: relative;
    }
}

.container-boxed {
    box-sizing: border-box !important;
    display:grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    .container {
           box-sizing: border-box !important;
           grid-column: 2 / 3;
       }
}