/* -------------------------------------------------
// Landscape grid gallery
// -----------------------------------------------*/

.ui-gallery-3 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	grid-auto-rows: 136px;
	> figure {
	  background: black;
	  padding: 1rem;
	  position: relative;
	  overflow: hidden;
	  img {
		position: absolute;
		width: 100%;  
		height: 100%;
		object-fit: cover;		
	  }
	  figcaption {
		  display: none;
	  }
	}	
  }
  
  
  @include media('>md') {
	.ui-gallery-3 {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		grid-auto-rows: 180px;
	}
  }

  @include media('>xl') {
	.ui-gallery-3 {
		grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
		grid-auto-rows: 280px;
	}
  }