/* -------------------------------------------------
// Spaced out grid gallery
// -----------------------------------------------*/


// .ui-gallery-7 {
// 	display: grid;
// 	grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
// 	grid-template-rows: auto dense;
// 	grid-template-rows: masonry;
// 	grid-auto-flow: row dense;
// 	grid-gap: 1rem;
// 	align-items: start;
// 	> figure {
// 	  background: var(--black);
// 	  padding: 1rem;
// 	  position: relative;
// 	  overflow: hidden;
// 	  width: 100%;
// 	  height: auto;
// 	//   &::before {
// 	// 	// for apsect ratio
// 	// 	content: "";
// 	// 	display: block;
// 	// 	padding-bottom: 100%;
// 	//   }
// 	  img {
// 		position: relative;
// 		width: 100%;
// 		height: auto;		
// 		object-fit: cover;	
// 	  }
// 	}
//   }
  

//   @include media('>md') {
// 	.ui-gallery-7 {
// 		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
// 	}
//   }


// ---------------------------

.ui-gallery-7 {
	display: flex;
	flex-wrap: wrap;
	> figure {
	  height: 150px;
	  line-height: 150px;
	  background: #EC985A;
	  color: white;
	  margin: 0 1rem 1rem 0;
	  text-align: center;
	  font-family: system-ui;
	  font-weight: 900;
	  font-size: 2rem;
	  flex: 1 0 auto;
	} 
	@for $i from 1 through 36 { 
	  figure:nth-child(#{$i}) {
		$h: (random(100) + 70) + px;
		width: $h;
	  }
	}
  }
  