/* -------------------------------------------------
// Justified grid gallery
// ------------------------------------------------*/

.ui-gallery-6 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(140px, 1fr));
	grid-auto-flow:row dense;
	> figure {
	  padding: 1rem;
	  position: relative;
	  overflow: hidden;
	&::before {
		// for apsect ratio
		content: "";
		display: block;
		padding-bottom: 100%; /* Adjust Padding to change the height of grid image */
	}
	img {
		position: absolute;
		width: 100%;
		height: 100%;		
		object-fit: cover;	
	  }
	}
  }
  

@include media('>xl'){
	.ui-gallery-6 {
		grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
	}
}