/* -------------------------------------------------
// Portraits grid gallery
// -----------------------------------------------*/

.ui-gallery-4 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	grid-auto-rows: 264px;
	> figure {
	  background: black;
	  padding: 1rem;
	  position: relative;
	  overflow: hidden;
	  img {
		position: absolute;
		width: 100%;  
		height: 100%;
		object-fit: cover;		
	  }
	  figcaption {
		  display: none;
	  }
	}	
  }
  
  
  @include media('>md') {
	.ui-gallery-4 {
		grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
		grid-auto-rows: 350px;
	}
  }

  @include media('>xl') {
	.ui-gallery-4 {
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		grid-auto-rows: 512px;
	}
  }