/* -------------------------------------------------
// Artisic gallery
// -----------------------------------------------*/

.ui-gallery-8 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
	grid-template-rows: auto dense;
	grid-auto-flow: row dense;
	grid-gap: 1rem;
	align-items: center;
	> figure {
	  background: var(--black);
	  padding: 1rem;
	  position: relative;
	  overflow: hidden;
	  width: 100%;
	  height: auto;
	  img {
		position: relative;
		width: 100%;
		height: auto;
		object-fit: cover;
	  }
	}
  }

  @include media('>md') {
	.ui-gallery-8 {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
  }

  @include media('>xl') {
	.ui-gallery-8 {
		grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
	}
  }
