.ui-list {
    width: 100%;
    position: relative;
    z-index: 10;    
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;    
    ul {
        box-sizing: border-box;
        display: flex;
        &.list-wrap{
            flex-wrap: wrap;            
        }
        &.list-hr{
            width: 100%;
            flex-wrap: nowrap;
        }
        &.list-scroll-x {
            overflow-x: auto;
            max-width: 100%;
        }
        li {
            white-space: nowrap;
            text-align: center;
            padding: 5px 30px;
            flex-grow: 1;
        }
    }    
}