
.tab-skin-1 {
    box-sizing: border-box;
    
    .tab-button {
        box-sizing: border-box;
        padding: 1rem 2rem 1rem 4rem;
        font-weight: 600;
        position: relative;
        &.active{            
            @include media('>md'){
                a {
                    position: relative;
                    &::before{
                        content: '\2014';
                        z-index: 20;
                        position: absolute;
                        left: -0; 
                        transform: translateX(calc(-100% - 1rem));
                        top: 0;
                    }
                }
                .tab-count {
                    font-size: 0;
                    visibility: hidden;                   
                }
            }
        }
        .tab-count {
            font-size: 14px;
            position: absolute;
            top: 50%;
            transform: translateY(-4px);
            line-height: 0;
            left: 1.5rem;
        }
    }
    .tab-content { 
        overflow: hidden;
    }

}