
.tab-skin-2 {
    .tab-button {
        margin-bottom: 1px;                        
        a {
            padding: 3rem 30px;
            .meta-tags {
                margin-right: auto;
                margin-left: 10%;
            }
        }        
       }
    }

